<main class="container">
  <nav class="button-group">
    <ul>
      <li>
        <button (click)="showMe(true)" class="btn">Music</button>
      </li>
      <li>
        <button (click)="showMe(false)" class="btn">Radio</button>
      </li>
    </ul>
  </nav>

<div class="content-container" *ngIf="!showMusic">
  <ul id="radioOnScreen"   class="songs-list">
    <li *ngFor="let radio of radioChannels let idx=index">
      <a (click)="selected(radio)" >
        {{radio.title}}
      </a>
    </li>
  </ul>
  <!-- <app-track-container class="table" [data]="radioChannels" ></app-track-container> -->
</div>
 <div class="content-container" *ngIf="showMusic">
  <ul id="songsOnScreen"   >
    <li *ngFor="let song of songChannels let idx = index" [ngClass]="idx==getIdx?'active':''" class="songs-list">
      <mat-icon  >audiotrack</mat-icon>
      <a (click)="selected(song)" >
        {{song.title}} by
        {{song.artist}}
      </a>
    </li>
  </ul>

  <!-- <app-track-container class="table" [data]="songChannels" ></app-track-container> -->
 </div>
</main>
