.nav-container
{
  display: flex;
  font-family: 'Work Sans', sans-serif;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  height: 5rem;

 ul{

   li{
     list-style: none;

     a{
       text-decoration: none;
       color: #fff;
       font-size: 1.5rem;
       letter-spacing: 6px;



     }
     .mat-icon{
      margin: 0 1rem 0 0;
      color: var(--secondary-color);
    }
   }
 }



}
