.nav-container
{
  display: flex;
  font-family: 'Work Sans', sans-serif;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 5rem;
  margin-right: 2rem;
ul.right-nav{
  display: flex;
  align-items: center;
  .spotify-display-name{
    color: #fff;
    letter-spacing: 3px;
  }
  input{

    height: 1.8rem;
    margin: 0 2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: .5rem;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 500;
    width: 15rem;

    &:focus{
      outline: none;
      box-shadow:  5px 9px -2px #fff;

    }

  }
}
 ul{

   li{
     list-style: none;

     a{
       text-decoration: none;
       color: #fff;
       font-size: 1.5rem;
       letter-spacing: 6px;



     }
     .mat-icon{
      margin: 0 1rem 0 0;
      color: var(--secondary-color);
    }
   }
 }



}
