<section class="card-list">
 <div class="heading"  >
    <h2  >{{playedFrom}}</h2>
  <mat-spinner  *ngIf="!(currentContent$|async)"></mat-spinner>

  </div>
  <article class="card" *ngFor="let track of currentContent$|async" (click)="setCurrent(track)">

    <header class="card-header"> {{track.name}}</header>

    <div class="img-container" >
        <img mat-card-image [src]="track.albumImg" alt="">

    </div>
    <footer class="card-footer">
      <p class="alert-text" *ngIf="!track.previewURL">No Preview Available</p>
      <p class="footer-text">{{track.artistName}} from {{track.albumName}}</p>
    </footer>

  </article>

</section>
