<div class="container">
  <div class="artist-information">
    <div class="artist-information-img-container"  >
      <img [ngClass]="(state$|async)?.playing?'rotate':''" [src]="(state$|async)?.cover ?(state$|async)?.cover:'../../../assets/img.jpg'" alt="">
    </div>
    <div class="artist-information-content">
      <h3 class="song-name"      >{{(state$|async)?.title}} </h3>
      <span class="artist-name"   *ngIf="(state$|async)?.AudioType ==true" >{{(state$|async)?.artist}}</span>
    </div>
  </div>


  <div class="audio-player-container">
    <audio #audioElement id="audio-player"   [src]="(state$|async)?.src"  preload="metadata" >

    </audio>
    <div class="audio-btn-group">
      <button (click)="playPrevious()" mat-icon-button class="btn audio-forward ">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-icon-button (click)="replay10()" class="btn audio-forward ">
        <mat-icon>replay_10</mat-icon>
      </button>
      <button (click)="playSong('fromPlayer')" mat-icon-button class="btn audio-play-pause">
        <mat-icon>{{(state$|async)?.playing ?'pause':'play_arrow'}}</mat-icon>
      </button>
      <button (click)="forward10()" mat-icon-button class="btn audio-previous">
        <mat-icon>forward_10</mat-icon>
      </button>
      <button (click)="playNext()" mat-icon-button class="btn audio-previous">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
    <div class="audio-player-information">
      <div class="current-time">{{(state$|async)?.timeLeft}}</div>
      <div>
        <input (input)="onSlide($event)" [value]="range" type="range" name="lengthAudio" id="lengthAudio">
        <!-- <mat-slider id="sliderMat" colo color="primary" ></mat-slider> -->
      </div>
      <div class="total-time">{{(state$|async)?.timeRight}}</div>
    </div>
  </div>
  <div class="volume-container">

    <div class="right">



      <mat-icon (click)="showVolumeRange()">{{volRange>0?'volume_up':'volume_off'}}</mat-icon>
      <div class="range-container" [ngClass]="showVR?'show-range':''">
        <input [value]="volRange" (input)="onVolSroll($event)" [ngClass]="showVR?'show-range':''" type="range">
      </div>
    </div>
  </div>

</div>
