.mat-card {
  background-color: var(--primary-color);

  span.artist-name {
    color: #f6f6f6;
    font-weight: 300;
    padding: 0 1rem;
    font-size: medium;
    color: var(--secondary-color);
  }
  .volume-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    div {
      background-color: #fff;
      display: flex;
      margin-right: auto;
      margin-left: 1rem;
      img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        object-fit: cover;
        box-shadow: 1px 1px 3px 8px #fff;
        flex: 2;
      }
      img.rotate {
        animation-iteration-count: infinite;
        transition: all 1s ease-out;
        animation-name: rotateImage;
        animation-duration: 50s;
        animation-iteration-count: infinite;
      }
    }

    div.right {
      background-color: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
      .mat-icon {
        color: #fff;
        cursor: pointer;
      }
      input {
        display: none;
      }
      input.show-range {
        display: block;
        margin-right: 0.5rem;
        height: 3px;
        width: 150px;
      }
    }
  }
  .audio-player-container {
    display: flex;

    align-items: center;
    .audio-btn-group {
      .btn {
        margin: 0.5rem;
        color: var(--secondary-color);
      }
    }
    .audio-player-information {
      display: flex;

      div {
        margin: 0.5rem;
        color: var(--secondary-color);
      }
      input[type="range" i] {
        background-color: #333;
        color: #333;
        width: 100% !important;
        height: 3px;
        cursor: grab;
      }
    }
  }

  .mat-card {
    background-color: var(--primary-color);
  }

  .mat-card-title {
    text-align: center;
    color: #fff;
    font-weight: 300;
  }
  .mat-card-avatar {
    display: flex;
    align-items: center;
  }
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}
