<nav class="sidebar">
  <ul>
    <li class="header">
      <mat-icon>timelapse</mat-icon>
    <a class="heading" href="/" (click)="showRecentlyPlayed($event)">Recently Played</a>

    </li>
  </ul>
  <ul>
    <li class="header">
      <mat-icon>trending_up</mat-icon>
    <a class="heading" href="/" (click)="showTopTracks($event)">
      My Top Tracks</a>
    </li>
  </ul>
  <ul  >

      <li (click)="showPlaylistsToggle()" class="header">
        <mat-icon>library_books</mat-icon>
        <a  class="heading">My Playlists </a>
<mat-icon class="right">add</mat-icon>
      </li >
        <li  [ngClass]="{closed:!showPlaylists}" *ngFor="let playlist of playlists$|async">
          <a href="#" (click)="setCurrentPlaylist($event,playlist)">{{playlist.name}}</a>
        </li>

  </ul>
</nav>
