nav{
  display: flex;
  height: calc(100vh - 13rem);
  position: sticky;
  top: 0;
  width: 100%;
  overflow-y: scroll;
  flex-direction: column;
  // align-items: center;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;

  ul{


    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    flex-direction: column;


    // height: 100%;
    // width: 100%;

    li{
      list-style: none;
      width: 100%;
      margin: 0 1rem;
      a.heading{
        font-weight: 600;
      }
      &:hover{
        transform: translate(-5px,-2px);

      }

      a{
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
        font-weight: 400;
        &:hover{
          border-bottom: 2px solid var(--primary-color);
          font-weight: 600;
          letter-spacing: 1px;
        }

      }

    }
    li.header{
      display: flex;
      mat-icon{
        color: #fff;
        margin: 3px;
      }
      &:hover{
        transform: none;

      }
      a{
        &:hover{
          border: none;
          letter-spacing: normal;
        }
      }
    }
    li.closed{
     opacity: 0;
    }
  }
  &::-webkit-scrollbar{
    display: none;
  }
}

nav ul li mat-icon.right{
margin-left: auto;
margin-right: 2rem;
}
